$brand-color: #ff5912;

body {
  margin: 0;
  background: #f6f8f9;
}
html {
  box-sizing: border-box;
  line-height: 1.6;
  font: 16px/1.6 'Harmonia Sans Pro Cyr';
  font-style: normal;
  font-weight: normal;
  color: #495662;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  color: #34404b;
  text-decoration: none;
  &:hover {
    color: $brand-color;
  }
}
footer a {
  font-size: 14px;
  text-transform: lowercase;
}
ul {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
i {
  color: $brand-color;
}
h1 {
  font: 52px/1 'Harmonia Sans Pro Cyr';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: $brand-color;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
}
li {
  display: inline-block;
  a {
    display: block;
  }
}

