
//card product

.card-product {
  .card-header img {
    max-width: 100%;
    height: auto;
  }
  .card-body {
    text-align: center;

  }

  .card-hover {
    .card-header img {

    }
    .card-body {
      .card-title {

      }
      .card-list-sizes {

      }
      .card-list-colors {

      }
    }
    .card-footer {
      .card-list-options {

      }
    }
  }
}
.card-title {
  font-size: 18px;
  color: #34404b;
  font-weight: bold;
  padding-bottom: 15px;
}
.card-price {
  font-size: 18px;
  color: $brand-color;
  font-weight: bold;
}
