@import 'fonts';
@import 'base';
@import 'section';
@import 'cards';
@import 'navbar';


//styles header-top

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #e6e8eb;
}
.header {
  background-color: #fff;
}
.list-contacts {
  li {
    padding-right: 19px;
    transition: .2s all;
  }
  i {
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    font-size: 12px;
    transition: .2s all;
  }
}
.icon-google-icon {
  font-size: 17px;
}
.list-socials {
  margin-right: -8px;

  a {
    padding: 0 8px;
    transition: .2s all;
  }
}

//end styles header-top

//styles header-body

.header-body {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header-left {
  display: flex;
  line-height: 1;
  align-items: center;
  .logo {
    margin-right: 83px;
  }
}
.navbar-nar {
  ul {
    margin: 0 -20px;
  }
  li {
    padding: 0 20px;
  }
}
.list-options {
  li {
    padding: 0 16px;
    margin-right: -4px;
    vertical-align: middle;
  }
  a {
    color:  #34404b;
  }
  i {
    font-size: 20px;
  }
  .icon-cart-icon {
    color: $brand-color;
  }
  span {
    position: absolute;
    width: 18px;
    height: 18px;
    content: '';
    line-height: 18px;
    text-align: center;
    background-color: #34404b;
    top: -20px;
    right: 3px;
    color: #fff;
    border-radius: 50%;
    font-family: 'Harmonia Sans Pro Cyr';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
  }
}
.icon-search-icon {
  font-size: 19px;
}
.icon-user-icon {
  font-size: 21px;
}
.icon-cart-icon {
  font-size: 17px;
  position: relative;
}
.header-right {
  display: flex;
  align-items: center;
  line-height: 1;
}

//styles for slick-slider

.sl-slide {
  background: url("../images/bg-slider.jpg") center right no-repeat;
  background-size: cover;

}
.main-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 649px;
  padding-left: 95px;
  .title {
    font-family: "Harmonia Sans Pro Cyr";
    font-size: 52px;
    font-weight: 900;
    text-transform: uppercase;
    color: $brand-color;
  }
  .description {
    padding: 1px 0 55px;
    .goods {
      font-family: 'Harmonia Sans Pro Cyr Semi Bd';
      font-size: 18px;
      color: #3c4751;
    }
    p {
      margin: 0;
    }
  }
}

//styles slick-slider

:focus {
  outline: none;
}


.appendDots {
  position: absolute;
  top: 0;
  height: 651px;
}
.sl-slide {
  .container {
    position: relative;
  }
}
.holder-dots {
  z-index: 111111;
  position: relative;
}
.slick-dots {
  position: absolute;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li {
    width: 10px;
    height: 36px;
  }
}

.slick-dots li button:before {
  content: '';
  width: 10px;
  height: 18px;
  background-color: #fff;
  opacity: 1;
}

.slick-dots .slick-active button:before {
  width: 10px;
  height: 36px;
  content: '';
  background-color: $brand-color;
  opacity: 1;
}
.slick-dots li {
  height: 18px;
  margin: 5px 0;
}
.slick-dots .slick-active {
  height: 36px;
}

.list-price {
  font-size: 18px;
  color: #34404b;
  li {
    &:last-child {
      padding-left: 31px;
      a {
        color: $brand-color;
      }
    }
  }
  i {
    padding-right: 9px;
  }
}
.section-heading {
  text-align: center;
  padding-bottom: 77px;
}
.section-title {
  color: $brand-color;
  font-size: 36px;
  font-family: "Harmonia Sans Pro Cyr";
  font-weight: 900;
  padding-bottom: 9px;
  span {
    color: #34404b;
  }
}

//style for card-product

.list-colors {
  a {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }

  .red {
    background-color: #ea454f;
  }
  .black {
    background-color: #41515d;
  }
  .blue {
    background-color: #42c2ff;
  }
  .green {
    background-color: #2cdd7b;
  }
}



.card-product {
  width: 25%;
  margin: 0 15px;
  background-color: #fff;
  padding: 37px 30px;
  position: relative;
}

.card-products {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.card-header {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.card-product:hover .card-hover {
  opacity: 1;
}

.card-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  transition: .2s;
  padding: 35px 50px 30px 50px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  .card-header {
    height: 90px;
    padding: 0;
    margin-bottom: 20px;
  }
  .card-title {
    color: $brand-color;
    padding-bottom: 20px;
  }
  .card-list-sizes {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #34404b;
    padding-bottom: 20px;
    ul {
      padding-left: 10px;
    }
  }
  .ws {
    white-space: pre;
  }
  .card-body {
    padding-bottom: 25px;
  }
}
.card-list-colors {
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f4f7;
}
.card-list-options {
  i {
    font-size: 18px;
    color: #34404b;
  }
  .icon-add-to-cart-icon {
    color: $brand-color;
  }
}
.card-products {
  margin-bottom: 80px;
}

.dots {
  padding: 16px 0;
  background-color: #fff;
  text-align: center;
  margin-bottom: 119px;
  li {
    margin: 0 1px;
  }
  a {
    width: 8px;
    height: 8px;
    background-color: $brand-color;
    border-radius: 50%;
  }
}

.offers-holder {
  padding: 33px 60px;
  background-color: #fff;
  display: flex;
  margin: 0 -15px;
}
.card-sale {
  width: 72px;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  z-index: 2;
  span {
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    display: block;
    color: #fff;
    line-height: 1.2;
  }
}

.sale {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  display: flex;
  line-height: 1.2;

}
.card-sale::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  background-color: $brand-color;
  z-index: -1;
}
.card-sale::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .6;
  transform: rotate(45deg);
  background-color: $brand-color;
  z-index: -1;
}


.offers {
  display: flex;
  margin: 0 -15px;
}

.offers-holder,
.adv-area {
  border: 1px solid #eceff1;
  margin: 0 15px;
}
.sale-title {
  padding-right: 37px;
  border-right: 1px solid #f5f5f6;
  .title {
    font-size: 22px;
    font-weight: 900;
    color: #34404b;
  }
  .description {
    font-size: 12px;
  }
}

.area {
  display: flex;
  padding-left: 65px;
  align-items: center;
}
.buy {
  padding-left: 37px;
  margin: 0 -10px;
  li {
    padding: 0 10px;
    font-size: 32px;
    font-weight: 900;
    color: $brand-color;
    span {
      font-size: 22px;
    }
  }
  i {
    font-size: 20px;
    color: $brand-color;
  }
}

.adv-area {
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    color: #34404b;
  }
  span {
    color: $brand-color;
  }
  .description {
    color: #34404b;
    opacity: .4;
    white-space: pre;
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 3px;
  }
}

//styles for section-best-sales

.section-best-sales {
  padding-top: 0;
}

.card-sales-holder {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  padding-bottom: 120px;
}

.card-sales {
  width: 33.33%;
  background-color: #fff;
  padding: 35px 30px 35px 28px;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: .2s all;
  .card-title {
    padding-bottom: 20px;
  }
  .card-price {
    font-size: 16px;
    transition: .2s;
  }
  img {
    transition: .2s;
  }
}

.stars-price {
  display: flex;
  justify-content: space-between;
  margin-left: -8px;
  position: relative;
  transition: .2s;
  a {
    opacity: 0;
    position: absolute;
    transition: .2s;
  }
  i {
    font-size: 20px;
  }
  span {
    padding-left: 9px;
    font-family: "Harmonia Sans Pro Cyr Semi Bd";
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
  }
}

.card-sales:hover .stars-price a {
  opacity: 1;
}
.card-sales:hover .stars-price img,
.card-sales:hover .stars-price .card-price {
  opacity: 0;
}
.card-sales:hover .stars-price {
  justify-content: center;
}

.card-sales:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

//styles for news-letter

.news-letter {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 36px 42px 36px 55px;
  justify-content: space-between;
}

.right-block {
  display: flex;
  .title {
    font-weight: bold;
    color: $brand-color;
    font-size: 18px;
    padding-right: 23px;
  }
  .description {
    font-style: italic;
    font-size: 14px;
    color: #34404b;
  }
}

.left-block {
  input[type="button"] {
    font-family: "Harmonia Sans Pro Cyr Semi Bd";
    font-size: 14px;
    color: #fff;
    padding: 18px 29px;
    background-color: $brand-color;
    border: none;
    cursor: pointer;
    margin-left: 75px;
  }
  .mail {
    display: inline-flex;
    position: relative;
    &::before {
      position: absolute;
      content: '\e902';
      font-family: 'icomoon';
      top: 14px;
      left: 12px;
      color: $brand-color;
      cursor: pointer;
      font-size: 11px;

    }
  }
  input[type="email"] {
    padding: 12px 20px 12px 40px;
    font-style: italic;
    border: none;
    color: #555;
  }
}

//footer styles

footer {
  background-color: #fff;
  padding: 88px 0 81px 0;
  font-size: 14px;
  color: #28313b;
  li {
    display: block;
    position: relative;
    &::before {
      padding-right: 8px;
      content: "• ";
      color: #41515d;
      position: absolute;
    }
    a {
      padding-left: 10px;
    }
  }
  .active a {
    color: $brand-color;
  }
  .active::before {
    padding-right: 8px;
    content: "• ";
    color: $brand-color;
    position: absolute;
  }
}
.footer-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-lists {
  display: flex;
  justify-content: space-between;
  align-self:center;
  ul {
    padding: 0 70px;
  }
}

.payment {
  .title {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    color: $brand-color;
    padding-bottom: 15px;
    font-size: 16px;
  }
}
.copyright {
  .logo {
    padding-bottom: 15px;
  }
}

//products

.sidebar {
  max-width: 300px;
  width: 100%;
  padding: 0 15px;
  margin-left: -15px;
  display: inline-block;
  margin-right: -4px;
}

.categories,
.price-filter,
.sizes,
.brands {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 34px 30px 32px 40px;
}
.categories {
  li {
    display: block;
    padding-bottom: 25px;
    &:last-child {
      padding-bottom: 0;
    }
    a {
      font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    }
  }
}

.categories,
.price-filter,
.sizes,
.brands {
  h2,
  legend{
    font-size: 18px;
    font-weight: 900;
    color: $brand-color;
    padding-bottom: 30px;
  }

}

.sizes,
.brands {
  label {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
  }
  .sz {
    padding-bottom: 25px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}


input[type=checkbox]{
  //Hide original inputs
  visibility: hidden;
  position: absolute;
}

input[type=checkbox] + label:before{
  height:13px;
  width:13px;
  content: '';
  display:inline-block;
  vertical-align: baseline;
  background-color: #f1f3f5;
  margin-right: 8px;
}

input[type=checkbox]:checked + label:before{
  border: 4px solid $brand-color;
  background-color: #fff;
}

//styles for select-bar

.theme-green .back-bar .selected-bar {
  background-image: linear-gradient(to bottom, #43525d, #43525d);
}

.theme-green .back-bar .pointer {
  border: 1px solid #43525d;
  background-color: #43525d;
  background-image: linear-gradient(to bottom, #43525d, #43525d);
}

.slider-container .back-bar .pointer-label {
  font-size: 15px;
  padding-right: 8px;
  margin-left: -2px;
  top: -28px;
  &::before {
    position: absolute;
    content: '$';
    top: 0;
    right: 0;
  }
}

.theme-green .back-bar {
  background-image: linear-gradient(to bottom, #f1f3f5, #f1f3f5);
  border-radius: 0;
  cursor: pointer;
  .pointer-label {
    color: #43525d;
  }
}

.theme-green .scale {
  opacity: 0;
}

.slider-container .back-bar .pointer {
  cursor: pointer;
}

.price-filter {
  legend {
    padding-bottom: 60px;
  }
}

.rs {
  padding-bottom: 37px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  width: 45px;
  border: none;
  background-color: #f1f3f5;
  padding: 5px 5px;
  margin-bottom: 2px;
}

.value-filter {
  display: inline-flex;
  label {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    font-size: 14px;
    color: #34404b;
    padding-right: 15px;
  }
}
label[for="to"] {
  padding-left: 10px;
}

//products gallery

.products-gallery {
  display: inline-block;
  max-width: 900px;
  width: 100%;
  margin-right: -15px;
  vertical-align: top;
  .card-product {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 30px;
  }
  .card-products {
    margin: 0;
  }
  .holder-dots {
    padding: 0 15px;
  }
}

.section-sidebar {
  padding-bottom: 0;
}